@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "burtons";
  src: url(../public/Burtons.otf);
}

#products {
  background: linear-gradient(90deg, #01d0ff, #e7e05b, #ec7adb, #01d0ff);
  background-size: 800%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: animate 10s ease-in-out infinite;
}

@keyframes animate {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 400% center;
  }
}
